
.moviesearch .nav{
    background-color: #273746 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 3rem;
    flex-wrap: wrap;
}
.moviesearch .nav .inp{
    border: 1px solid #999;
    background-color: #6e747a;
    border-radius: 1.5rem;
    width: 800px;
    position: relative;

}
.moviesearch .nav .inp input{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
}
.moviesearch .nav .inp input::placeholder{
    color: #888;
}
.moviesearch .nav .inp input:focus{
    outline: none;
}
.moviesearch .nav .inp .search-icon{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-49%,23%);
    font-size: 30px;
    cursor: pointer;
    color: #0f0202;
}
.moviesearch .nav .inp .search-icon:hover{
    color: #1812127c;
}
.moviesearch .nav .icon .film-icon{
    font-size: 50px;

}