.main_card {
  width: 18rem;
  padding: 20px 0;
  min-height: 700px;
  background-color: #273746 !important;
  color: #fff;
  margin: 30px 0;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_body .card-title {
  font-size: 1.2rem;
}

.card_body .card-text {
  font-size: 1rem;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.view_details_btn {
  width: 80%;
  font-size: 18px;
}

/* تخصيص الشاشات الصغيرة */
@media (max-width: 768px) {
  .main_card {
    width: 90%;
    margin: 15px 0;
    min-height: auto;
  }

  .card_body {
    padding: 10px;
  }

  .card_body .card-title {
    font-size: 1rem;
  }

  .card_body .card-text {
    font-size: 0.9rem;
  }

  .btns {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .btns .fav{
    width: 100%;
    padding: 12px;
    font-size: 20px;
  }
  .view_details_btn {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main_card {
    width: 100%;
    margin: 10px 0;
    min-height: auto;
  }

  .card_body {
    padding: 5px;
  }

  .card_body .card-title {
    font-size: 0.9rem;
  }

  .card_body .card-text {
    font-size: 0.8rem;
  }

  .btns {
    flex-direction: column;
    gap: 5px;
  }

  .view_details_btn {
    font-size: 14px;
  }
}
